<p>This AEM HTML Template Language component measures the distance between two cities:</p>
<div data-sly-use.heroTextObject="com.community.rest.core.HeroRestComponent" data-sly-test="${heroTextObject}">
 
        <h1>AEM HTL Restul example</h1>
 
       <h3>From City: ${heroTextObject.heroTextBean.fromCity}</h3>
       <h3>To City: ${heroTextObject.heroTextBean.toCity}</h3>
 
      <h3>Distance: ${heroTextObject.heroTextBean.distance}</h3>
       <h3>Duration: ${heroTextObject.heroTextBean.duration}</h3>
 
       <p></p>    
</div>